<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Arca</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>

<body>
    <div>
        <div class="container-fluid bg-dark center preFooter">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6"><i class="fas fa-phone-square-alt" style="color: white;"> <span class="font"><a
                                style="color: rgb(187, 186, 186);" href="tel:+525588488288">55 88 48 82
                                88</a></span></i> &nbsp; &nbsp; <a
                        href="https://api.whatsapp.com/send?phone=525588488288"><i class="fab fa-whatsapp"
                            style="color: lime;"> <span style="color: rgb(187, 186, 186);" class="font">Cotización por
                                Whatsapp</span></i></a></div>
                <div class="col-3"><a href="https://web.facebook.com/arcaconstruccionesmx/"><i
                            class="fab fa-facebook fa-w-14 fa-lg" style="color: #5482e6; "></i></a>&nbsp; &nbsp;<a
                        href="https://www.instagram.com/arca_construcciones/"><i class="fab fa-instagram fa-w-14 fa-lg"
                            style="color: #ca364a;"></i></a></div>
            </div>
        </div>
    </div>
    <div>
        <div class="bg-light">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light font blackLetter">
                    <a class="navbar-brand center" href="/">
                        <img class="navbrand" src="/assets/images/ARCAlogo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link blackLetter" href="/">Inicio</a>
                            <a class="nav-item nav-link blackLetter" href="/nosotros">Nosotros</a>
                            <a class="nav-item nav-link blackLetter" href="/servicios">Servicios</a>
                            <a class="nav-item nav-link blackLetter" href="/portafolio">Portafolio</a>
                            <a class="nav-item nav-link blackLetter" href="/contacto">Contacto</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="bodie">
            {{{body}}}
        </div>
        <div class="footer font bg-light">
            <h7 class="copyrightT">
                Copyright ©2020 Grupo Arca | <span><a href="/policy">Política de privacidad</a></span>
            </h7>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>