<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Arca</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script>
        function submitEmailForm(form) {
            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function () {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else {
                        alert("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, number: form.tel.value, message: form.message.value }));
            alert("¡Mensaje enviado!, en breve nos comunicaremos");
            $(".formInput").val(" ");
            return false;
        }
    </script>
</head>

<body onload="incrementCount()" data-spy='scroll' data-target=".choosing" data-offset='50' class="font">
    <div class="bg-dark center preFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <i class="fas fa-map-marker-alt text-white"> <span class="font2 spacingParagraph titleBannerHeader"> CDMX</span>
                    </i>&nbsp; &nbsp;
                    {{!-- <a href="https://api.whatsapp.com/send?phone=525588488288" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-whatsapp" style="color: lime;"> <span
                                style="color: rgb(187, 186, 186);" class="font">Cotización por
                                Whatsapp</span></i></a> &nbsp; &nbsp; --}}
                    <i class="fas fa-phone-square-alt" style="color: white;"> <span class="font"><a
                                href="tel:+525577111355" class="font2 text-white titleBannerHeader">+52 55 77 11 13
                                55</a></span></i>
                </div>
                <div class="col-3"><a href="https://web.facebook.com/arcaconstruccionesmx/" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-facebook fa-w-14 fa-lg"
                            style="color: #5482e6; "></i></a>&nbsp; &nbsp;<a
                        href="https://www.instagram.com/arca_construcciones/" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-instagram fa-w-14 fa-lg"
                            style="color: #ca364a;"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a class="navbar-brand center" href="/">
                            <img class="navbrand" src="/assets/images/ARCAlogo.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light font blackLetter">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse menuFontSize" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link blackLetter" href="/">Índice</a>
                                    <a class="nav-item nav-link blackLetter" href="/nosotros">Conócenos</a>
                                    <li class="nav-item dropdown">
                                        <a class="nav-item nav-link dropdown-toggle" href="/servicios"
                                            id="navbarDropdown" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" style="color: black;">
                                            Nuestros Servicios
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="nav-item dropdown-item" href="estructuras">Estructura</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="nav-item dropdown-item" href="obraCivil">Obra Civil</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="nav-item dropdown-item" href="terraceria">Terracería</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="nav-item dropdown-item" href="remodelacion">Remodelación</a>
                                        </div>
                                    </li>
                                    <a class="nav-item nav-link blackLetter" href="/contacto">Contacto</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="bodie">
            {{{body}}}
        </div>
        <div class="contactSiteMap font spacingParagraph">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm siteMap">
                        <h4 class="contactFooterTitles">MAPA DE SITIO</h3>
                            <br>
                            <h5 class="siteMapItem font2" onclick="location.href='/inicio';">ÍNDICE
                        </h4>
                        <h5 class="siteMapItem font2" onclick="location.href='/nosotros';">CONÓCENOS</h5>
                        {{!-- <h5 class="siteMapItem" onclick="location.href='/servicios';">SERVICIOS</h5> --}}
                        <h5 class="siteMapItem font2" onclick="location.href='/contacto';">CONTACTO</h5>
                    </div>
                    <div class="col-sm contactFooter">
                        <h4 class="contactFooterTitles">CONTACTO</h3>
                            <br>
                            <h5 class="contactoFooterItem "><a href="https://api.whatsapp.com/send?phone=525577111355"
                                    target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"
                                        style="color: grey;"> <span class="contactFooterItems font2"
                                            style="color: grey;">
                                            Whatsapp</span></i></a></h5>
                            <h5 class="contactoFooterItem "><i class="fas fa-phone-square-alt" style="color: grey;">
                                    <span class="font2"><a class="contactFooterItems" style="color: grey;"
                                            href="tel:+525577111355">55
                                            77 11 13 55</a></span></i></h5>
                    </div>
                    <div class="col-sm contactFooter">
                        <h4 class="contactFooterTitles">SÍGUENOS</h4>
                        <br>
                        <h5 class="contactoFooterItem"><a class="contactFooterItems"
                                href="https://web.facebook.com/arcaconstruccionesmx/" target="_blank"
                                rel="noopener noreferrer"><i class="fab fa-facebook fa-w-14 fa-lg"
                                    style="color: grey; "></i><span class="contactFooterItems font2" style="color: grey;"
                                    class="font2">
                                    Facebook</span></a></h5>
                        <h5 class="contactoFooterItem"><a class="contactFooterItems"
                                href="https://www.instagram.com/arca_construcciones/" target="_blank"
                                rel="noopener noreferrer"><i class="fab fa-instagram fa-w-14 fa-lg"
                                    style="color: grey;"></i><span class="contactFooterItems font2" style="color: grey;"
                                    class="font2">
                                    Instagram</span></a></h5>
                    </div>
                    <div class="col-sm contactFooter">
                        <h4 class="contactFooterTitles">NOSOTROS</h4>
                        <h6 class="font2">
                            Nuestro trabajo lo sustentan nuestro equipo de personas y sus familias.
                            <br>
                            Así como, nuestros clientes, que eligieron confiar en nosotros y con los que hemos
                            construído una relación estrecha y de respeto
                            <br>
                            <h6 class="font2"><a href="/nosotros">Leer más...</a></h6>
                        </h6>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer font2 bg-light center">
            <h7 class="copyrightT">
                Copyright ©2020 Grupo Arca | <span><a href="/policy">Política de privacidad</a></span>
            </h7>
        </div>
    </div>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/assets/js/jqueryCounterupMin.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script>
        function incrementCount(current_count) {

            function count1() {
                let start // set on the first step to the timestamp provided
                const el = document.getElementById('count') // get the element
                const final = parseInt(el.textContent) // parse out the final number
                const duration = 4000 // duration in ms
                const step = ts => {
                    if (!start) {
                        start = ts
                    }
                    // get the time passed as a fraction of total duration
                    let progress = (ts - start) / duration

                    el.textContent = Math.floor(progress * final) // set the text
                    if (progress < 1) {
                        // if we're not 100% complete, request another animation frame
                        requestAnimationFrame(step)
                    }
                }

                requestAnimationFrame(step);
            }
            function count2() {
                let start // set on the first step to the timestamp provided
                const el = document.getElementById('count2') // get the element
                const final = parseInt(el.textContent) // parse out the final number
                const duration = 4000 // duration in ms
                const step = ts => {
                    if (!start) {
                        start = ts
                    }
                    // get the time passed as a fraction of total duration
                    let progress = (ts - start) / duration

                    el.textContent = Math.floor(progress * final) // set the text
                    if (progress < 1) {
                        requestAnimationFrame(step)
                    }
                }

                requestAnimationFrame(step);
            }
            function count3() {
                let start // set on the first step to the timestamp provided
                const el = document.getElementById('count3') // get the element
                const final = parseInt(el.textContent) // parse out the final number
                const duration = 4000 // duration in ms
                const step = ts => {
                    if (!start) {
                        start = ts
                    }
                    // get the time passed as a fraction of total duration
                    let progress = (ts - start) / duration

                    el.textContent = Math.floor(progress * final) // set the text
                    if (progress < 1) {
                        requestAnimationFrame(step)
                    }
                }

                requestAnimationFrame(step);
            }
            function count4() {
                let start // set on the first step to the timestamp provided
                const el = document.getElementById('count4') // get the element
                const final = parseInt(el.textContent) // parse out the final number
                const duration = 4000 // duration in ms
                const step = ts => {
                    if (!start) {
                        start = ts
                    }
                    // get the time passed as a fraction of total duration
                    let progress = (ts - start) / duration

                    el.textContent = Math.floor(progress * final) // set the text
                    if (progress < 1) {
                        requestAnimationFrame(step)
                    }
                }

                requestAnimationFrame(step);
            }
            count1();
            count2();
            count3();
            count4();


        }

    </script>

</body>

</html>