<div class="inicioBody">
    <div class="bodyG">
        <div class="presInit">
            <div class="innerDiv">
                <section class="titlesInicio">
                    <h3 class="titleStyleInicio">Soluciones totales <br> en construcción</h3>
                    <p class="titleStyleInicio">Comercialización de productos y soluciones totales en construcción</p>

                </section>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <h1 class="colorArca proyectosTitleArca">PROYECTOS</h1>
        </div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 text-center">
                    <h2>Estructuras</h2>
                    <div class="container arca1photo arcaphoto pointer" onclick="location.href='/servicios';"></div>
                    <br>
                    <h4 class="linkProyects pointer" onclick="location.href='/servicios';">Ver Proyectos</h4>
                </div>
                <div class="col-md-3 text-center">
                    <h2>Obra Civil</h2>
                    <div class="container arca2photo arcaphoto pointer" onclick="location.href='/servicios';"></div>
                    <br>
                    <h4 class="linkProyects pointer" onclick="location.href='/servicios';">Ver Proyectos</h4>

                </div>
                <div class="col-md-3 text-center">
                    <h2>Terracería</h2>
                    <div class="container arca3photo arcaphoto pointer" onclick="location.href='/servicios';"></div>
                    <br>
                    <h4 class="linkProyects pointer" onclick="location.href='/servicios';">Ver Proyectos</h4>
                </div>
                <div class="col-md-3 text-center">
                    <h2>Remodelación</h2>
                    <div class="container arca4photo arcaphoto pointer" onclick="location.href='/servicios';"></div>
                    <br>
                    <h4 class="linkProyects pointer" onclick="location.href='/servicios';">Ver Proyectos</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-light posibleInicio left font container">
        <div class="row">
            <div class="col-sm">
                <div class="text-center">
                    <h1 class="posibleTitle">CIMIENTOS DE NUESTRA LABOR</h1>
                </div>
                <br>
                <p class="posibleParagraph"><i class="fas fa-quote-left"></i> FRASE ROMÁNTICA <i
                        class="fas fa-quote-right"></i></p>
                <div class="container">
                    <ul class="list-group">
                        <li class="list-group-item">INTEGRIDAD</li>
                        <li class="list-group-item">SERVICIO</li>
                        <li class="list-group-item">LIDERAZGO</li>
                        <li class="list-group-item">COLABORACION</li>
                        <li class="list-group-item">EXCELENCIA</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm accessNosotrosInicio">

                <section class="innerDivNosotros center">
                    <h4 class="white">Nuestros Valores</h4>
                    <button type="button" class="btn btn-success btn-proyectosInicio"
                        onclick="location.href='/nosotros';">VER MÁS</button>

                </section>



            </div>
        </div>
    </div>

    <div class="center">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="serviciosTitleRow">
                        <h1 class="proyectosTitleArca"> <span class="text-danger">S</span>ERVICIOS</h1>
                    </div>
                </div>
            </div>
            <br>
            <div class="bgServiciosInicio">
                <div class="row">
                    <div class="col-md-6 itemServicios">
                        <h1 class="itemServicioSize"><span class="text-danger"><i
                                    class="fas fa-building"></i>E</span>STRUCTURAS</h1>
                        <p class="text-secondary">DESCRIPCIÓN Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Molestiae, deserunt? Laborum p</p>
                    </div>
                    <div class="col-md-6 itemServicios">
                        <h1 class="itemServicioSize"><span class="text-danger"><i
                                    class="fas fa-hard-hat"></i>O</span>BRA
                            CIVIL</h1>
                        <p class="text-secondary">DESCRIPCIÓN Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Molestiae, deserunt? Laborum p</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 itemServicios">
                        <h1 class="itemServicioSize"><span class="text-danger"><i
                                    class="fas fa-truck-pickup"></i>T</span>ERRACERÍA</h1>
                        <p class="text-secondary">DESCRIPCIÓN Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Molestiae, deserunt? Laborum p</p>
                    </div>
                    <div class="col-md-6 itemServicios">
                        <h1 class="itemServicioSize"><span class="text-danger"><i
                                    class="fas fa-home"></i>R</span>EMODELACIÓN</h1>
                        <p class="text-secondary">DESCRIPCIÓN Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Molestiae, deserunt? Laborum p</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-dark btn-lg btnServiciosInicioDiv">VER NUESTROS SERVICIOS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="proyectosInicio bg-light ">
        <div class="container">
            <div class="row">
                <div class="col-sm proyectosContact">

                    <h1 class="display-4 right center obrasCivilesInicio"><i class="fas fa-hard-hat"
                            style="color: rgb(231, 104, 0);"></i> OBRAS CIVILES</h1>

                    <div class="proyectos-bg"></div>
                    <div class="center">
                        <button type="button" class="btn btn-success btn-proyectosInicio btnServiciosContacto"
                            onclick="location.href='/contacto';"> Cotizar</button>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="container">
                        <ul class="list-group font margin13">
                            <li class="list-group-item">Mexibus 3 <br> (Pantitlán – Chimalhuacán) </li>
                            <li class="list-group-item">Mexibus 4 <br> (Tecámac-Indios verdes) </li>
                            <li class="list-group-item">Laterales Paseo Tollocan <br> (Toluca)</li>
                            <li class="list-group-item">Autopista Toluca-Tenango <br> (Toluca)</li>
                            <li class="list-group-item">Deportivo <br> (Nicolás Romero)</li>
                            <li class="list-group-item">Mega Comercial Mexicana <br> (12 Tiendas)</li>
                            <li class="list-group-item">Casinos Royal</li>
                            <li class="list-group-item">Farmacias de ISEM <br> (7 Farmacias)</li>
                            <li class="list-group-item">Tecalli´s <br> (7 Ecatepec)</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>