<div class="inicioBody">
    <div class="presInit">
        <div class="innerDiv">
            <section class="titlesInicio">
                <h3 class="titleStyleInicio">Experiencia y especialización en servicios completos de construcción</h3>
                <p class="titleStyleInicio">Comercialización de productos y soluciones totales en construcción</p>

            </section>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-dark jumboTitle1">
        <div class="container">
            <h1 class="display-4 font center jumboTitle1" style="color: rgb(221, 220, 220);">La mejor opción en
                construcción</h1>
        </div>
    </div>
    <div class="bg-light posibleInicio left font container">
        <div class="row">
            <div class="col-sm">
                <h1 class="posibleTitle">Ellos lo hacen posible...</h1>
                <br>
                <p class="posibleParagraph"><i class="fas fa-quote-left"></i> Nuestro equipo está compuesto de las manos
                    que hacen que nuestras obras salgan adelante.
                    Siempre agradecemos a los maestros, albañiles, herreros, bandereros, ingenieros, oficiales y
                    ayudantes.
                    Su energía, su fortaleza, sus conocimientos, nos enseñan siempre lo que significa lo que hacemos y

                    juntos generamos impacto. <i class="fas fa-quote-right"></i></p>
            </div>
            <div class="col-sm accessNosotrosInicio">

                <section class="innerDivNosotros center bg-dark">
                    <h4 class="white">Conócenos</h4>
                    <button type="button" class="btn btn-success btn-proyectosInicio"> <a href="/nosotros"
                            class="white">Nosotros</a></button>

                </section>



            </div>
        </div>
    </div>

    <div class="center">
        <div class="container">
            <div class="row font white">
                <div class="col-sm">
                    <div class="concretosInicio inicioServiciosItem" onclick="location.href='/contacto';"></div>
                    <div class="bg-dark itemCaptionInicio ">
                        <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h7 style="color: white;"><i class="far fa-circle" style="color: rgb(255, 110, 110);"></i>
                                CONCRETOS</h7>

                        </button>
                        <div class="dropdown-menu">
                            <ul class="list-group font">
                                <li class="list-group-item">Mexibus 3 MR-45 <br>(Pantitlán – Chimalhuacán) </li>
                                <li class="list-group-item">Mexibus 4 MR-45 <br>(Tecámac-Indios verdes) </li>
                                <li class="list-group-item">Laterales Paseo Tollocan <br> MR-45 (Toluca) </li>
                                <li class="list-group-item">Pisos Apex Tools <br> (Tlalnepantla) </li>
                                <li class="list-group-item">Pisos pulidos<br> Bodegas Liverpool (Queretaro-Cancun)</li>
                                <li class="list-group-item">Deportivo Bicentenario <br>(Nicolas Romero) </li>
                                <li class="list-group-item">Mega Comercial Mexicana <br>(12 Tiendas) </li>
                                <li class="list-group-item">Casinos Royal</li>
                                <li class="list-group-item">Farmacias de ISEM <br>(7 Farmacias) </li>
                                <li class="list-group-item">Pisos estampados Ecatepec </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="inducidaInicio inicioServiciosItem" onclick="location.href='/contacto';">
                    </div>
                    <div class="bg-dark itemCaptionInicio ">
                        <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h7 style="color: white;"><i class="far fa-circle" style="color: rgb(255, 110, 110);"></i>
                                OBRA INDUCIDA</h7>

                        </button>
                        <div class="dropdown-menu">
                            <ul class="list-group font">
                                <li class="list-group-item">Mexibus 3 “SACMEX” <br> (Pantitlán – Chimalhuacán) </li>
                                <li class="list-group-item">Agua potable, drenaje pluvial y colector aguas negras </li>
                                <li class="list-group-item">Mexibus 4 “Maxigas y Pemex” <br> (Tecámac-Indios verdes)
                                </li>
                                <li class="list-group-item">Laterales Paseo Tollocan <br> (Toluca) </li>
                                <li class="list-group-item">Autopista Toluca-Tenango <br> (Toluca) </li>

                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="pavimentacion inicioServiciosItem" onclick="location.href='/contacto';"></div>
                    <div class="bg-dark itemCaptionInicio ">
                        <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h7 style="color: white;"><i class="far fa-circle" style="color: rgb(255, 110, 110);"></i>
                                PAVIMENTACIÓN</h7>

                        </button>
                        <div class="dropdown-menu">
                            <ul class="list-group font">
                                <li class="list-group-item">Mexibus 3 <br> (Pantitlán – Chimalhuacán) </li>
                                <li class="list-group-item">Mexibus 4 <br> (Tecámac-Indios verdes) </li>
                                <li class="list-group-item">Laterales Paseo Tollocan <br>(Toluca) </li>
                                <li class="list-group-item">Autopista Toluca-Tenango <br> (Toluca) </li>
                                <li class="list-group-item">Av. Ojo de agua <br> (Ecatepec)</li>
                                <li class="list-group-item">Bordo de Xochiaca <br> (Nezahualcóyotl)</li>
                                <li class="list-group-item">Outlets <br> (Toluca)</li>
                                <li class="list-group-item">Av. Zaragoza <br> (Atizapán de Zaragoza)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="proyectosInicio bg-light ">
        <div class="container">
            <div class="row">
                <div class="col-sm proyectosContact">

                    <h1 class="display-4 right center obrasCivilesInicio"><i class="fas fa-hard-hat"
                            style="color: rgb(231, 104, 0);"></i> OBRAS CIVILES</h1>

                    <div class="proyectos-bg"></div>
                    <div class="center">
                        <button type="button" class="btn btn-success btn-proyectosInicio"> <a href="/contacto"
                                class=" white">Cotizar</a></button>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="container">
                        <ul class="list-group font margin13">
                            <li class="list-group-item">Mexibus 3 <br> (Pantitlán – Chimalhuacán) </li>
                            <li class="list-group-item">Mexibus 4 <br> (Tecámac-Indios verdes) </li>
                            <li class="list-group-item">Laterales Paseo Tollocan <br> (Toluca)</li>
                            <li class="list-group-item">Autopista Toluca-Tenango <br> (Toluca)</li>
                            <li class="list-group-item">Deportivo <br> (Nicolás Romero)</li>
                            <li class="list-group-item">Mega Comercial Mexicana <br> (12 Tiendas)</li>
                            <li class="list-group-item">Casinos Royal</li>
                            <li class="list-group-item">Farmacias de ISEM <br> (7 Farmacias)</li>
                            <li class="list-group-item">Tecalli´s <br> (7 Ecatepec)</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>