<div class="inicioBody font">
    <div class="bodyG">
        <header>
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="/assets/images/construction.mp4" type="video/mp4">
            </video>
            <div class="container h-100">
                {{!-- <div class="d-flex h-100 text-center align-items-center">
                    <div class="text-white solTot">
                        <h1 class="display-3 solTot2" style="font-size: 2.5rem;">Soluciones TOTALES</h1>
                        <h3>En construcción</h3>
                    </div>
                </div> --}}
            </div>
        </header>
        <br>
        {{!-- <div class="container text-center">
            <h1 class="colorArca proyectosTitleArca">PROYECTOS</h1>
        </div> --}}
        <br>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-3 text-center">
                    <h2>Estructura</h2>
                    <div class="container arca1photo arcaphoto pointer rowWithNoMargin" onclick="location.href='/estructuras';"></div>
                    <br>
                    <h4 class="linkProyects pointer font2" onclick="location.href='/estructuras';">Ver Proyectos</h4>
                </div>
                <div class="col-md-3 text-center">
                    <h2>Obra Civil</h2>
                    <div class="container arca2photo arcaphoto pointer rowWithNoMargin" onclick="location.href='/obraCivil';"></div>
                    <br>
                    <h4 class="linkProyects pointer font2" onclick="location.href='/obraCivil';">Ver Proyectos</h4>

                </div>
                <div class="col-md-3 text-center">
                    <h2>Terracería</h2>
                    <div class="container arca3photo arcaphoto pointer rowWithNoMargin" onclick="location.href='/terraceria';"></div>
                    <br>
                    <h4 class="linkProyects pointer font2" onclick="location.href='/terraceria';">Ver Proyectos</h4>
                </div>
                <div class="col-md-3 text-center">
                    <h2>Remodelación</h2>
                    <div class="container arca4photo arcaphoto pointer rowWithNoMargin" onclick="location.href='/remodelacion';"></div>
                    <br>
                    <h4 class="linkProyects pointer font2" onclick="location.href='/remodelacion';">Ver Proyectos</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-light posibleInicio left font container">
        <div class="row">
            <div class="col-sm">
                <div class="text-center">
                    <h1 class="posibleTitle font2">CIMIENTOS DE NUESTRA LABOR</h1>
                </div>
                <br>
                <p class="posibleParagraph spacingParagraph font2"><i class="fas fa-quote-left"></i> Nuestras obras no
                    serían posibles sin las
                    manos de nuestros trabajadores. Tenemos la combinación perfecta entre ingeniería y mano de obra para
                    cumplir con los estándares de calidad que nuestros clientes merecen <i
                        class="fas fa-quote-right"></i></p>
                <div class="container">
                    <ul class="list-group spacingParagraph">
                        <li class="list-group-item">INTEGRIDAD</li>
                        <li class="list-group-item">SERVICIO</li>
                        <li class="list-group-item">LIDERAZGO</li>
                        <li class="list-group-item">COLABORACION</li>
                        <li class="list-group-item">EXCELENCIA</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm accessNosotrosInicio">

                <section class="innerDivNosotros center">
                    <h4 class="white">Nuestros Valores</h4>
                    <button type="button" class="btn btn-success btn-proyectosInicio"
                        onclick="location.href='/nosotros';">VER MÁS</button>

                </section>



            </div>
        </div>
    </div>

    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/assets/images/videoArcaT.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="text-white solTotNegro">
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="serviciosTitleRow2">
                                    <h1 class="proyectosTitleArca"> <span class="text-danger">S</span>ERVICIOS</h1>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="bgServiciosInicio">
                            <div class="row">
                                <div class="col-md-6 itemServicios">
                                    <h1 class="itemServicioSize"><span class="text-danger">E</span>STRUCTURA</h1>

                                </div>
                                <div class="col-md-6 itemServicios">
                                    <h1 class="itemServicioSize"><span class="text-danger">O</span>BRA
                                        CIVIL</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 itemServicios">
                                    <h1 class="itemServicioSize"><span class="text-danger">T</span>ERRACERÍA</h1>
                                </div>
                                <div class="col-md-6 itemServicios">
                                    <h1 class="itemServicioSize"><span class="text-danger">R</span>EMODELACIÓN</h1>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <button type="button"
                                        class="btn btn-dark btn-lg btnServiciosInicioDiv spacingParagraph"
                                        onclick="location.href='/nosotros';">VER NUESTROS SERVICIOS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- <div class="center">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="serviciosTitleRow">
                        <h1 class="proyectosTitleArca"> <span class="text-danger">S</span>ERVICIOS</h1>
                    </div>
                </div>
            </div>
            <br>
            <div class="bgServiciosInicio">
                <div class="row">
                    <div class="col-md-6 itemServicios">
                        <h1 class="itemServicioSize"><span class="text-danger"><i
                                    class="fas fa-building"></i>E</span>STRUCTURA</h1>

                    </div>
                    <div class="col-md-6 itemServicios">
                        <h1 class="itemServicioSize"><span class="text-danger"><i
                                    class="fas fa-hard-hat"></i>O</span>BRA
                            CIVIL</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 itemServicios">
                        <h1 class="itemServicioSize"><span class="text-danger"><i
                                    class="fas fa-truck-pickup"></i>T</span>ERRACERÍA</h1>
                    </div>
                    <div class="col-md-6 itemServicios">
                        <h1 class="itemServicioSize"><span class="text-danger"><i
                                    class="fas fa-home"></i>R</span>EMODELACIÓN</h1>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-dark btn-lg btnServiciosInicioDiv spacingParagraph"
                            onclick="location.href='/nosotros';">VER NUESTROS SERVICIOS</button>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <div class="proyectosInicio bg-light ">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class="colorArca nuestroProcesoTitle">NUESTRO PROCESO DE TRABAJO</h1>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row text-center">

                <div class="col-md">
                    <h4 class="nuestroProcesoTitle2 color-dark font2"><i class="fas fa-quote-left"></i>
                        Creemos que todo
                        empieza con un sueño, una idea o simplemente una plática, nuestra principal labor es llegar a
                        materializar todas esas palabras <i class="fas fa-quote-right"></i></h4>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="imgPresentacion"></div>
                            <br>
                            <h4>Presentación de proyecto</h4>
                            <button type="button" class="btn btn-secondary btn-lg btn-block"></button>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="imgPlaneacion"></div>
                            <br>
                            <h4>Planeación</h4>
                            <button type="button" class="btn btn-secondary btn-lg btn-block"></button>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="imgEjecucion"></div>
                            <br>
                            <h4>Ejecución de Obra</h4>
                            <button type="button" class="btn btn-secondary btn-lg btn-block"></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <h4 class="colorArca pointer" onclick="location.href='/nosotros';">Conocer más...</h4>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

    </div>
    <br>
    <div class="counterDiv font white center">
        <div class="container counter-section">
            <div class="row text-center white">
                <div class="col-md-4 counter-box">
                    <div class="icon-box">
                        <i class=" colorArca fa fa-hands-helping"></i>
                    </div>
                    <p class="counter"> <span id="count">150</span></p>
                    <p class="spacingParagraph">MANOS INVOLUCRADAS</p>
                </div>
                <div class="col-md-4 counter-box">
                    <div class="icon-box">
                        <i class=" colorArca fa fa-clock"></i>
                    </div>
                    <p class="counter"> <span id="count2">590</span></p>
                    <p class="spacingParagraph">HORAS DE TRABAJO</p>
                </div>
                <div class="col-md-4 counter-box">
                    <div class="icon-box">
                        <i class=" colorArca fa fa-dice"></i>
                    </div>
                    <p class="counter"> <span id="count3">100</span></p>
                    <p class="spacingParagraph">IDEAS REBOTADAS</p>
                </div>
            </div>

        </div>
    </div>


</div>