<div class="counterDiv font white center">
    <div class="counterDiv font white center">
        <div class="container counter-section">
            <div class="row text-center white">
                <div class="col-md-4 counter-box">
                    <div class="icon-box">
                        <i class=" colorArca fa fa-hands-helping"></i>
                    </div>
                    <p class="counter"> <span id="count">150</span></p>
                    <p class="spacingParagraph">MANOS INVOLUCRADAS</p>
                </div>
                <div class="col-md-4 counter-box">
                    <div class="icon-box">
                        <i class=" colorArca fa fa-clock"></i>
                    </div>
                    <p class="counter"> <span id="count2">590</span></p>
                    <p class="spacingParagraph">HORAS DE TRABAJO</p>
                </div>
                <div class="col-md-4 counter-box">
                    <div class="icon-box">
                        <i class=" colorArca fa fa-dice"></i>
                    </div>
                    <p class="counter"> <span id="count3">100</span></p>
                    <p class="spacingParagraph">IDEAS REBOTADAS</p>
                </div>
            </div>

        </div>
    </div>
    {{!-- <div class="container counter-section">
        <div class="row text-center white">
            <div class="col-md-3 counter-box">
                <div class="icon-box">
                    <i class="fa fa-hands-helping"></i>
                </div>
                <p class="counter"> <span id="count">150</span></p>
                <p>MANOS INVOLUCRADAS</p>
            </div>
            <div class="col-md-3 counter-box">
                <div class="icon-box">
                    <i class="fa fa-clock"></i>
                </div>
                <p class="counter"> <span id="count2">590</span></p>
                <p>HORAS DE TRABAJO</p>
            </div>
            <div class="col-md-3 counter-box">
                <div class="icon-box">
                    <i class="fa fa-dice"></i>
                </div>
                <p class="counter"> <span id="count3">100</span></p>
                <p>IDEAS REBOTADAS</p>
            </div>
            <div class="col-md-3 counter-box">
                <div class="icon-box">
                    <i class="fa fa-coffee"></i>
                </div>
                <p class="counter"><span id="count4">800</span></p>
                <p>TAZAS DE CAFÉ</p>
            </div>
        </div>

    </div> --}}
</div>
<div class="misionVision font2 spacingParagraph bolder">
    <div class="container bg-light mvContainer">
        <div class="row">
            <div class="col-md misionImg"></div>
            <div class="col-md center">
                &nbsp; &nbsp;
                &nbsp; &nbsp;
                <h4 class="mvTitles">¿QUIÉNES SOMOS?</h4>
                <p class="mvParagraph">Grupo Arca C&N es una empresa 100% mexicana dedicada a desarrollar <span><a
                            href="/portafolio" class="colorArca">proyectos de alto impacto</a></span> gracias a la eficiente
                    competitividad y amplia experiencia en todo tipo de Infraestructura y Construcción.</p>

                <h4 class="mvTitles">MISIÓN</h4>
                <p class="mvParagraph">Escuchar y atender las <span><a href="/contacto" class="colorArca">necesidades de negocio de los
                            clientes</a></span> para lograr una experiencia satisfactoria en la solución de sus
                    prioridades, contando con empleados motivados y capacitados que le brinden una disponibilidad
                    profesional, para generar la mayor utilidad y rentabilidad de recursos.</p>

                <h4 class="mvTitles">VISIÓN</h4>
                <p class="mvParagraph">Ser una empresa líder en el sector de la construcción y comercialización nivel
                    nacional e internacional, con un equipo comprometido y calificado, <span><a
                            href="/servicios" class="colorArca">generando productos innovadores</a></span> que satisfagan las necesidades
                    de los clientes, con altos estándares de calidad, contribuyendo al desarrollo del país.</p>

                <h4 class="mvTitles">OBJETIVO</h4>
                <p class="mvParagraph">Nuestro objetivo primordial es hacer equipos de trabajo con empleados y clientes
                    que funcionen sinérgicamente.</p>

                <h4 class="mvTitles">VALORES</h4>
                <p class="mvParagraph">INTEGRIDAD || SERVICIO || LIDERAZGO<br>COLABORACION || EXCELENCIA</p>

            </div>
        </div>
    </div>
</div>