<div class="serviciosDiv font">
    <div class="container">
        <div class="row choosing">
            <div class="col-md obraCivilimg" onclick="location.href='#obraCivi';">
                <div class="serviciosUno">
                    <h4 class="serviciosFsTitles" style="opacity: 1;">OBRA CIVIL</h4>

                </div>
            </div>
            <div class="col-md hogarImg" onclick="location.href='#hogar';">
                <div class="serviciosDos">
                    <h4 class="serviciosFsTitles">HOGAR Y OTROS</h4>

                </div>
            </div>
        </div>

        <div class="obraCivilExp container-fluid bg-dark" id="obraCivi">
            <div class="row">
                <div class="col-md bg-light">
                    <div class="ocTitle center">
                        <div class="row">
                            <div class="col-md center">
                                <h4 class="display-4">OBRA CIVIL</h4>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="list-group font margin13 ulsize14">
                            <li class="list-group-item">Edificación</li>
                            <li class="list-group-item">Guarniciones </li>
                            <li class="list-group-item">Banquetas</li>
                            <li class="list-group-item">Muros de contención</li>
                            <li class="list-group-item">Herrería</li>
                            <li class="list-group-item">Yesos</li>
                            <li class="list-group-item">Cancelería</li>
                            <li class="list-group-item">Cisternas</li>
                            <li class="list-group-item">Electricidad</li>
                            <li class="list-group-item">Hidráulico</li>
                            <li class="list-group-item">Sanitario</li>
                            <li class="list-group-item">Aire acondicionado</li>
                            <li class="list-group-item">Redes</li>
                            <li class="list-group-item">Gas</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md center">
                    <div class="row">
                        <div class="col-md hogarPlaceholder">
                            <div class="col-md hogarImg hogardummie" onclick="location.href='#hogar';">
                                <div class="serviciosDos hogardummie2">
                                    <h4 class="serviciosFsTitles">HOGAR Y OTROS</h4>

                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-proyectosInicio btnServiciosContacto"
                                onclick="location.href='/contacto';"> Contacto</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="center">
            <div class="container">
                <div class="row font white">
                    <div class="col-sm">
                        <div class="concretosInicio inicioServiciosItem" onclick="location.href='/contacto';"></div>
                        <div class="bg-dark itemCaptionInicio ">
                            <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h7 style="color: white;"><i class="far fa-circle"
                                        style="color: rgb(255, 110, 110);"></i>
                                    CONCRETOS</h7>

                            </button>
                            <div class="dropdown-menu">
                                <ul class="list-group font">
                                    <li class="list-group-item">Suministro de concretos estructurales y convencionales
                                        <br>
                                        (Todas las resistencias y edades)</li>
                                    <li class="list-group-item">Colocación de concreto, pisos pulidos, pisos estampados,
                                        color para pisos</li>
                                    <li class="list-group-item">Colocación de MR, cimentación, edificación, bombas de
                                        concreto</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="inducidaInicio inicioServiciosItem" onclick="location.href='/contacto';">
                        </div>
                        <div class="bg-dark itemCaptionInicio ">
                            <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h7 style="color: white;"><i class="far fa-circle"
                                        style="color: rgb(255, 110, 110);"></i>
                                    OBRA INDUCIDA</h7>

                            </button>
                            <div class="dropdown-menu">
                                <ul class="list-group font">
                                    <li class="list-group-item">Drenajes: pluvial & aguas negras</li>
                                    <li class="list-group-item">Fugas
                                    </li>
                                    <li class="list-group-item">Agua potable
                                    </li>
                                    <li class="list-group-item">Termo fusión</li>
                                    <li class="list-group-item">Encofrados</li>
                                    <li class="list-group-item">Protección de ductos</li>
                                </ul>


                            </div>
                        </div>

                    </div>
                    <div class="col-sm">
                        <div class="pavimentacion inicioServiciosItem" onclick="location.href='/contacto';"></div>
                        <div class="bg-dark itemCaptionInicio ">
                            <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h7 style="color: white;"><i class="far fa-circle"
                                        style="color: rgb(255, 110, 110);"></i>
                                    TERRACERÍA</h7>

                            </button>
                            <div class="dropdown-menu">
                                <ul class="list-group font">
                                    <li class="list-group-item">Excavación</li>
                                    <li class="list-group-item">Piedra plen</li>
                                    <li class="list-group-item">Subyacente, sub-rasante & sub-base</li>
                                    <li class="list-group-item">Base hidráulica</li>
                                    <li class="list-group-item">Tierra armada</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hogarExp bg-light" id="hogar">
            <div class="ocTitle center">
                <h4 class="hogTitle display-4">HOGAR Y OTROS</h4>
            </div>
            <div class="container cardsContainer">
                <div class="row cardRow1">
                    <div class="col-md">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/Baños.jpg" alt="Baños">
                            <div class="card-body center">
                                <h5 class="card-title">BAÑOS</h5>
                                {{!-- <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p> --}}
                                <a href="/contacto" class="btn btn-primary cardBtn">Cotizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/Pisos.jpg" alt="Pisos">
                            <div class="card-body center">
                                <h5 class="card-title">PISOS</h5>
                                {{!-- <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p> --}}
                                <a href="/contacto" class="btn btn-primary cardBtn">Cotizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/jardineria.jpg" alt="Jardinería">
                            <div class="card-body center">
                                <h5 class="card-title">JARDINERÍA</h5>
                                {{!-- <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p> --}}
                                <a href="/contacto" class="btn btn-primary cardBtn">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/luminar.jpg" alt="Iluminación">
                            <div class="card-body center">
                                <h5 class="card-title">ILUMINACIÓN</h5>
                                {{!-- <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p> --}}
                                <a href="/contacto" class="btn btn-primary cardBtn">Cotizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/Remodelaciones.jpg" alt="Remodelaciones">
                            <div class="card-body center">
                                <h5 class="card-title">REMODELACIÓN</h5>
                                {{!-- <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p> --}}
                                <a href="/contacto" class="btn btn-primary cardBtn">Cotizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/assets/images/anunciosLuminosos.jpg"
                                alt="Anuncios Luminosos">
                            <div class="card-body center">
                                <h5 class="card-title">ANUNCIOS LUMINOSOS</h5>
                                {{!-- <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p> --}}
                                <a href="/contacto" class="btn btn-primary cardBtn">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="center">
            <div class="container">
                <div class="row font white">
                    <div class="col-sm">
                        <div class="concretosInicio inicioServiciosItem" onclick="location.href='/contacto';"></div>
                        <div class="bg-dark itemCaptionInicio ">
                            <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h7 style="color: white;"><i class="far fa-circle"
                                        style="color: rgb(255, 110, 110);"></i>
                                    PAVIMENTACIÓN</h7>

                            </button>
                            <div class="dropdown-menu">
                                <ul class="list-group font">
                                    <li class="list-group-item">Fresado</li>
                                    <li class="list-group-item">Riego de impregnación</li>
                                    <li class="list-group-item">Encarpetado asfaltico</li>
                                    <li class="list-group-item">Bacheo</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="inducidaInicio inicioServiciosItem" onclick="location.href='/contacto';">
                        </div>
                        <div class="bg-dark itemCaptionInicio ">
                            <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h7 style="color: white;"><i class="far fa-circle"
                                        style="color: rgb(255, 110, 110);"></i>
                                    ESTRUCTURA METÁLICA</h7>

                            </button>
                            <div class="dropdown-menu">
                                <ul class="list-group font">
                                    <li class="list-group-item">Suministro de materiales</li>
                                    <li class="list-group-item">edificación de estructura</li>
                                </ul>


                            </div>
                        </div>

                    </div>
                    <div class="col-sm">
                        <div class="pavimentacion inicioServiciosItem" onclick="location.href='/contacto';"></div>
                        <div class="bg-dark itemCaptionInicio ">
                            <button class="btn bg-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <h7 style="color: white;"><i class="far fa-circle"
                                        style="color: rgb(255, 110, 110);"></i>
                                    SEÑALIZACIÓN</h7>

                            </button>
                            <div class="dropdown-menu">
                                <ul class="list-group font">
                                    <li class="list-group-item">Suministro y colocación de todo tipo de señalización
                                    </li>
                                    <li class="list-group-item">Postes bandera</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>